<div class="main about"> 
    <div class="container"> 
        <div class="row"> 
            <div class="col-md-6 thumbnail"> 
                <%= image_tag "me.jpg" %> 
            </div> 
            <div class="col-md-6"> 
                <h2>Hello. My name is <span class="highlight">Alex Mireles</span></h2> <p> I'm a picker, I'm a grinner, I'm a lover And I'm a sinner</p> 
                <p>Since 2001, I've been pursuing my passion, building websites and developing my creativity.</p> 
            </div> 
        </div> 
    </div> 
</div> 