<div class="main home"> 
    <div class="jumbotron" > 
        <div class="container"> 
            <h2>Hello. My name is <span class="highlight">Alex Mireles</span> and I'm a Programmer and Full Stack Developer</h2> 
            <a class="btn right" href="portfolio">View my Work</a> 
        </div> 
    </div> 
</div> 
         
